./dt1.trn.svm
./dt1.tst.lbl
./dt1.tst.pred
./dt1.tst.svm
./dt1.vld.lbl
./dt1.vld.pred
./dt1.vld.svm

./dt2.trn.svm
./dt2.tst.lbl
./dt2.tst.pred
./dt2.tst.svm
./dt2.vld.lbl
./dt2.vld.pred
./dt2.vld.svm

./dt3.trn.svm
./dt3.tst.lbl
./dt3.tst.pred
./dt3.tst.svm
./dt3.vld.lbl
./dt3.vld.pred
./dt3.vld.svm